* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

#animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 70px;
    background-color: #021823;
    color: white;
}

.animation {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.animation img {
    width: 350px;
    height: 350px;
    margin-top: -150px;
    animation: anim 3s forwards;
}

@keyframes anim {
    0% {
        margin-top: -350px;
    }
    50% {
        margin-top: 150px;
        width: 400px;
        margin-right: 40px;
        margin-left: 40px;
        height: 400px;
    }
    100% {
        margin-top: 0;
    }
}

span {
    margin-top: -200px;
    animation: span 0.5s linear 0s forwards;
}

@keyframes span {
    0% {
        margin-top: -200px;
    }

    100% {
        margin-top: 0;
    }
}

span:nth-child(11) {
    animation-delay: 2s;
}
span:nth-child(10) {
    animation-delay: 2.1s;
}
span:nth-child(9) {
    animation-delay: 2.2s;
}
span:nth-child(8) {
    animation-delay: 2.3s;
}
span:nth-child(7) {
    animation-delay: 2.4s;
}
span:nth-child(5) {
    animation-delay: 2.4s;
}
span:nth-child(4) {
    animation-delay: 2.3s;
}
span:nth-child(3) {
    animation-delay: 2.2s;
}
span:nth-child(2) {
    animation-delay: 2.1s;
}
span:nth-child(1) {
    animation-delay: 2s;
}
